{% extends 'template_base.html' %}

{% block content %}
    <h1>Contas de {{ user.username }}</h1>
    <hr>
    <a href="{% url 'finances:index' %}">Voltar para a página principal</a><br>
    <a href="{% url 'finances:nova_conta' user_id=user.id %}">Criar uma nova conta</a><br>
    <br><br>
    <table>
        <tr>
            <th>Nome da conta</th>
            <th>Saldo</th>
            <th>Valor</th>
        </tr>
        {% for conta in todas_contas %}
        <tr>
            <td>{{ conta.nome }}</td>
            <td>{{ conta.saldo }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}